.user-backgroud {
    padding: 1rem;
}

.user-body {
    height: fit-content;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 10px;
}

.name-box {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: calc(25% - 10px);
    height: fit-content;
    padding: 2px;
    margin-bottom: 10px;
    box-sizing: border-box;
    padding: 1.5rem;
}

.box {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 48%;    
    height: 10vh;
    margin-bottom: 10px;
    box-sizing: border-box;
    padding: 1rem;
    display: flex;
    align-items: center;    
}

.one {
    width: 100%;
    border-radius: 10px;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .user-body1,
    .user-body2 {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
    .user-data,
    .other-details,
    .review-sec,
    .feedback-sec {
        width: 97% !important;
    }
    .three{
        width: 300px;
    }
}


@media (max-width: 576px) {
    .box {
        width: calc(50% - 10px);
    }

}

/* choosing a color */
.bgcolor {
    background: linear-gradient(-110deg, #e0e0e0,#d77b02);
    display: flex;
    align-items: center; 
}

.person-icon{
    height: 100px;
    width: 100px;
    margin-right: 2rem;
}
.user-body1,.user-body2 {
    margin-top: 1rem;
    display: flex;
    gap: 1.5rem;

}

.user-data, .review-sec {
    height: fit-content;
    width: 50%;
    border-radius: 10px;
    padding: 0.5rem;
    color: white;
}
.internal-div,.rs-internal-div{
    margin-top: 10px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    background-color: #EBE7E4;
    color: black;
}
.user-data>p{
    flex: unset;
}

.other-details,.feedback-sec {
    width: 50%;
    border-radius: 10px;
    padding: 0.5rem;
    color: white;
}
.rs-internal-div{
    padding: 20px 10px 20px 10px;
}

#userReview,#userFeedback{
    border: 1px solid rgb(80, 80, 80);

    border-radius: 5px;
    overflow-y:auto;
    overflow-x: scroll;
}
.user-submit-btn{
    width: 110px;
    margin-top: 1rem;
}
#userReview::placeholder,#userFeedback::placeholder{
    color: black;

}