.Pop-Body {
    border-radius: 10px;
    position: fixed;
    background-color: #242933;
    height: 300px;
    width: 400px;
    z-index: 6;
    left: 52%; 
    top: 45%; 
    transform: translate(-50%, -50%); 
    box-shadow: 9px 9px 20px 4px #97898942;
    text-align: center;
    padding-top: 3rem;
    box-sizing: border-box;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  
.Pop-Body>button{
    width: 8rem;
}
.Pop-Body>button:hover{
    cursor: pointer;
}