/* /POP BOX FOR DELETE CONFIRM */
.Pop-Body {
    border-radius: 10px;
    position: fixed;
    background-color: #ffffff;
    height: 200px;
    width: 400px auto+50px;
    z-index: 6;
    left: 50%; /* Horizontal centering */
    top: 50%; /* Vertical centering */
    transform: translate(-50%, -50%); /* Centering using translation */
    box-shadow: 9px 9px 20px 4px #97898942;
    text-align: center;
    padding-top: 3rem;
    box-sizing: border-box;
    color: black;
    padding: 1rem;
  }
  
.Pop-Body>button{
    width: 8rem;
}
.Pop-Body>button:hover{
    cursor: pointer;
}